[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
.vs/
.idea/
*.csproj
*.sln
*.suo
*.user
*.pidb
*.booproj
*.opendb
*.VC.db
*.log
/QA/
/Assets/_Recovery/
/Assets/_Recovery.meta
.env
.env.*
*.keystore
*.jks
